<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
    </system.web>
  <appSettings>
    <add key="TranslatorBaseUrl" value="https://translate.yandex.net/api/v1.5/tr.json/"/>
    <add key="TranslatorApiKey" value="trnsl.1.1.20140613T070036Z.82aa6d4fd6b25103.9a512d19eef3c84b7eae247877cc84f983ee33fb"/>
  </appSettings>
</configuration>
